html {
    height: 100%;
}

body {
    height: 100%;
    
}
a {
    text-decoration: none;
}

.main {
    height: 100%;
}
.social-image{
    width: 30px;
    margin: 15px;
}
.navbar{
    display: flex;
    justify-content: space-between;
}
.header{
    display:flex;
    justify-content:center;
}
.social{
    display: flex;
    justify-content: space-around;
}
.thumbnail-image{
    height:200px;
    width: 250px;
}
.name{
    
}
.gallery{
     display: flex;
    justify-content: space-between;
}